$light-bg-gradient:
  linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 16%),
  linear-gradient(90deg, #e3f0e9 0%, #f2f8e7 100%);
$dark-bg-gradient:
  linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 16%),
  linear-gradient(90deg, #3f7f61 0%, #7aa86f 100%);
$category-hover-shadow-light: 0px 10px 30px 0px rgb(2, 47, 57, 0.1);
$category-hover-shadow-dark: 0px -1px 40px 0px rgb(134, 134, 134, 0.213);

:root {
  --sublime-border-radius: 4px;
  --bg-gradient: #{dark-light-choose($light-bg-gradient, $dark-bg-gradient)};
  --category-box-bg: #{dark-light-choose($secondary, #161616)};
  --category-hover-shadow: #{dark-light-choose(
      $category-hover-shadow-light,
      $category-hover-shadow-dark
    )};
  --sidebar-highlight: #2b7c85;
  --category-box-font-color: #{dark-light-choose(
      $primary-med-or-secondary-high,
      #858585
    )};
}
